.loading_place {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(/src/assets/697b00d2b6bcf68cbb94f9da415dec98.jpg);
}

.alexiLoading {
    width: 12vw;
    position: relative;
}

.loadingText {
    font-size: 2.5vw;
    color: #b14cff;
}

@media all and (max-width: 768px) {
    
    .alexiLoading {
        width: 35vw;
    }

    .loadingText {
        font-size: 6vw;
    }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
    
    .alexiLoading {
        width: 15vw;
    }

    .loadingText {
        font-size: 2.5vw;
    }
}
